* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: inherit;
}

body {
  padding: 0px 25px;
  font-size: 24px;
  color: #858585;
  background-color: #111111;
  overflow-y: hidden;
  user-select: none;
}

a {
  text-decoration: none;
  color: #858585;
}

a:hover {
  color: #FFF;
}

ul {
  list-style: none;
}

.buttonEffect {
  color: #858585;
  border: 1px solid #858585;
  background-color: transparent;
  padding: 15px 30px;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease;
  z-index: 2;
  border-radius: 30px;
  font-size: 20px;
  padding: 5px 10px;
  border: 2px solid #858585;
  text-transform: uppercase;
  user-select: none;
}

.buttonEffect:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(to bottom, #FFF 0%, #FFF 100%);
  transition: transform 0.2s ease;
  color: #FFF;
}

.buttonEffect:hover:before {
  transform: translateY(-100%);
}

.buttonEffect:hover {
  color: #111111;
}

header {
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px 30vw 0 0;
}
@media (max-width: 450px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  header .header-navbar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
  }
}

main {
  overflow: hidden;
}
main .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  left-width: 100%;
  height: 100%;
}
main .title {
  visibility: hidden;
}
main .title h1 {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 45vh;
  font-size: 10.5vw;
  color: #FFF;
}
@media (max-width: 450px) {
  main .title h1 {
    font-size: 15.5vw;
    margin-top: 30vh;
  }
}
main .title .scroll {
  position: absolute;
  left: 75%;
  margin-top: 50px;
  font-size: 14px;
}
main .title .arrow {
  position: absolute;
  top: 550px;
  left: 90%;
  padding: 15px;
  border: 1px solid #858585;
  border-radius: 20px;
}
main #work {
  list-style: none;
  margin: 100px 0px;
}
main li .project-title:hover {
  transform: translateX(20px);
  color: white;
}
@media (max-width: 450px) {
  main li .project-title:hover {
    transform: translateX(0);
  }
}
main li .project-title {
  text-transform: uppercase;
  width: 100%;
  padding: 0 auto;
  padding: 50px;
  padding-bottom: 10px;
  transition: transform 0.5s ease;
  position: relative;
}
@media (max-width: 450px) {
  main li .project-title {
    margin-left: -30px;
  }
}
main li .project-title h2 {
  font-size: 80px;
  text-transform: lowercase;
}
@media (max-width: 450px) {
  main li .project-title h2 {
    font-size: 13vw;
  }
}
main li .project-title h2:hover {
  color: #FFF;
  cursor: pointer;
}
main li .project-title .type {
  font-size: 14px;
}
main li .project-content {
  max-height: 0;
  width: 90vw;
  margin: 0 auto;
  overflow: hidden;
  transition: 1s ease;
  margin-bottom: 20px;
}
main li .project-content .arrow {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 10px;
  margin-right: 15px;
}
main li .project-content .arrow p {
  font-size: 16px;
}
main li .project-content .arrow img {
  width: 40px;
  margin-top: -10px;
}
main li .project-content .album {
  display: flex;
  height: 50vh;
  user-select: none;
  overflow-x: hidden;
  position: relative;
}
@media (max-width: 450px) {
  main li .project-content .album {
    height: 22vh;
    margin-bottom: 10vw;
  }
}
@media (max-width: 900px) and (min-width: 451px) {
  main li .project-content .album {
    height: 36vh;
    margin-bottom: 10vw;
  }
}
main li .project-content .album .album-images {
  display: flex;
  transition: transform 0.3s;
  cursor: grab;
  gap: 20px;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: auto;
}
main li .project-content .album:active .album-images {
  cursor: grabbing;
}
main li .project-content button {
  background-color: #858585;
  padding: 15px;
  border-radius: 10px;
  border: none;
  position: relative;
  left: 75vw;
  top: 80px;
}
main li .project-content button a {
  color: #111111;
  font-size: 16px;
}
@media (max-width: 450px) {
  main li .project-content button {
    left: 65%;
    top: -5vw;
  }
}
main li .project-content button:hover {
  background-color: white;
}
main li .project-content button:hover a {
  color: #111111;
}
main li .project-content .technologies ul {
  display: flex;
  max-width: 70vw;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px;
}
@media (max-width: 450px) {
  main li .project-content .technologies ul {
    max-width: 87vw;
  }
}
main li .project-content .technologies ul li {
  border-radius: 0;
  font-size: 18px;
  text-transform: none;
}
@media (max-width: 450px) {
  main li .project-content .technologies ul li {
    font-size: 16px;
  }
}
main li .project-content .technologies p {
  max-width: 70vw;
  font-size: 16px;
}
@media (max-width: 450px) {
  main li .project-content .technologies p {
    max-width: 87vw;
  }
}
main li .line {
  margin: 0 auto;
  width: 90vw;
  height: 1px;
  background-color: #858585;
}
main #about {
  width: 40%;
  font-size: 20px;
  margin-left: 30%;
  user-select: text;
}
@media (max-width: 450px) {
  main #about {
    width: 80%;
    margin-left: 0;
  }
}

footer {
  position: relative;
  bottom: 20px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  user-select: text;
}
footer #email {
  margin-bottom: 100px;
  user-select: text;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  user-select: text;
}
footer #email:hover {
  color: white;
}
footer .copy-text {
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  opacity: 0;
  width: 50%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
footer p {
  font-size: 16px;
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
